header { 
  height: 132px;
}

header div {
  width: 100%;

  display: flex;
  
  align-items: center;
  justify-content: center;
  
  background-color: var(--primary-color);
  z-index: 1000;
  position: relative;

  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.25);
}

header nav {
  height: 48px;

  display: flex;

  align-items: center;
  justify-content: center;

  background-color: var(--dark-primary-color);
}

header nav a {
  color: #FFF;
  font-weight:  bold;

  margin: 0px 10px;
}

header nav a:hover {
  color: var(--ligth-primary-color);
  transition: 0.4s;
}